[View in Colaboratory](https://colab.research.google.com/github/guitar79/OA-2018/blob/master/05_2_python_basics.ipynb)

python 사용법에 대해 간단히 설명한다. 

자세한 내용은 official Python tutorial (https://docs.python.org/3/tutorial/index.html) 을 참고하기 바란다.

#Python Basics

다음과 같이 간단하게 사용할 수 있다.

In [1]:
4-10

-6

In [2]:
print (2*3)
print (7/3)
print (7//3)
print (32 % 26)
print (5 ** 3)
print (18**(-1/3.))

6
2.3333333333333335
2
6
125
0.38157141418444396

# Data Types

Python도 다른 프로그래밍 언어처럼 몇몇 데이터 타입이 있다. 

**Numeric and boolean literals**

데이터 타입을 보려면 다음과 같이 type 함수를 사용할 수 있다.

In [3]:
a = 3     # integer
b = 3.14  # float (real number)
c = 3.14159 # a floating point number
d = 5.1e10 # scientific notation
e = 2.5 + 5.3j # a complex number
hungry = True # boolean literal
need_coffee = False # another boolean literal

print(a)  # will print 3
print(b)  # will print 3.14
print(c)  # will print cc
print(d)  
print(e)  
print(hungry)
print(need_coffee)
print(type(a))   # the data types of a, b, c
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(hungry))
print(type(need_coffee))
print(a / b)
print(a * e)

3
3.14
3.14159
51000000000.0
(2.5+5.3j)
True
False
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'bool'>
0.9554140127388535
(7.5+15.899999999999999j)

**Strings**

In [4]:
hello = 'Hello world!'
print(hello)

print ('She said, "Hello, world!"')
print ("She said, 'Hello, world!'")

Hello world!
She said, "Hello, world!"
She said, 'Hello, world!'

In [5]:
print ("""MIRANDA
O, wonder!
How many goodly creatures are there here!
How beauteous mankind is! O brave new world
That has such people in't!""")

MIRANDA
O, wonder!
How many goodly creatures are there here!
How beauteous mankind is! O brave new world
That has such people in't!

In [6]:
'abc' + 'def'

'abcdef'

In [7]:
filename = '../data/PTF_d022683_f02_c06_u000114210_p12_refimg.fits'
filename.endswith('fits')

True

In [8]:
filename = '../data/PTF_d022683_f02_c06_u000114210_p12_refimg.fits'
filename.split('/')

['..', 'data', 'PTF_d022683_f02_c06_u000114210_p12_refimg.fits']

In [0]:
some_list = ['a','b',3,10]

# Lists and tuples

Lists are flexible containers which can contain python objects of any type. You can add or remove items or alter
existing items. Lists are surrounded by square brackets and have items separated by commas.

In [10]:
some_list = ['a','b',3,10]
print (some_list)

['a', 'b', 3, 10]

In [11]:
some_list[0]

'a'

**index**

'index'는 '0' 부터 시작하며, 다음과 같은 데이터 형태들이 있다.

In [12]:
A = [0,1,2]            # classical Python "list"
B = (3,4,5)            # classical Python "tuple"


print('A: ', A[0], A[1], A[2])
print('B: ', B[0], B[1], B[2])

print('AB: ', A, B)
print('type: ', type(A), type(B))

A:  0 1 2
B:  3 4 5
AB:  [0, 1, 2] (3, 4, 5)
type:  <class 'list'> <class 'tuple'>

In [13]:
another_list = [4,5,6,7,[8,9,10]]
print(another_list)

[4, 5, 6, 7, [8, 9, 10]]

In [14]:
print(another_list[0:2])
print(another_list[-1])
print(another_list[-1][1])

[4, 5]
[8, 9, 10]
9

# Dictionaries

Sometimes, you want a collection that is like a list, but whose indices are strings or other Python values. That's a
dictionary. Dictionaries are handy for any type of database-like operation, or for storing mappings from one set of
values to another. You create a dictionary by enclosing a list of key-value pairs in curly braces:

In [15]:
my_grb = {'name': 'GRB 130702A', 'redshift': 0.145, 'ra': (14, 29, 14.78), 'dec': (15, 46, 26.4)}
print(my_grb)
print(my_grb['ra'])
print(my_grb['dec'])

{'name': 'GRB 130702A', 'redshift': 0.145, 'ra': (14, 29, 14.78), 'dec': (15, 46, 26.4)}
(14, 29, 14.78)
(15, 46, 26.4)

dictionary에 item을 추가하거나 삭제할 수 있다.

In [16]:
my_grb = {'name': 'GRB 130702A', 'redshift': 0.145, 'ra': (14, 29, 14.78), 'dec': (15, 46, 26.4)}

my_grb['url'] = 'http://gcn.gsfc.nasa.gov/other/130702A.gcn3'
print(my_grb)

del my_grb['name']
print(my_grb)

{'name': 'GRB 130702A', 'redshift': 0.145, 'ra': (14, 29, 14.78), 'dec': (15, 46, 26.4), 'url': 'http://gcn.gsfc.nasa.gov/other/130702A.gcn3'}
{'redshift': 0.145, 'ra': (14, 29, 14.78), 'dec': (15, 46, 26.4), 'url': 'http://gcn.gsfc.nasa.gov/other/130702A.gcn3'}

# Conditions/Loops

 **Conditions**

In Python, control flow statements such as conditionals and loops have blocks indicated with indentation. Any number
of spaces or tabs is fine, as long as you are consistent within a block. Four spaces is the recommended standard.
You can use the if...elif...else statement to have different bits of code run depending on the truth or falsehood of
boolean expressions. For example:

In [17]:
x, y, z = 3, 3.14, 10-7
if (x != y):
    print('Different!')

Different!

In [18]:
d = {'foo': 3, 'bar': 5, 'bat': 9}
if 'foo' in d:
   print ('the key "foo" is in the dictionary')

the key "foo" is in the dictionary

**The for and while loops**

In Python, there are just two types of loops: for and while. for loops are useful for repeating a set of statements for
each item in a collection (tuple, set, list, dictionary, or string). while loops are not as common, but can be used to
repeat a set of statements until a boolean expression becomes false.

In [19]:
for i in [0, 1, 2, 3]:
  print (i**2)

0
1
4
9

In [20]:
for i in range(4):
  print (i**2)

0
1
4
9

In [21]:
for i in range(-2, 4):
  print (i**2)

4
1
0
1
4
9

In [22]:
d = {'foo': 3, 'bar': 5, 'bat': 9}
for key, val in d.items():
  print (key, '...', val**3)

foo ... 27
bar ... 125
bat ... 729

In [23]:
import numpy as np

L  = np.arange(0, 10, 1) # numpy array with elements (0, 10) with interval 1
L1 = np.ones((10))  # 10 by 1 sized numpy array, filled with 1

for i in range(0,10):
    if (L[i] == 9):
        print("\t'Oh it's NEIN!'")
        continue
    print(L[i], end=' ') # option "end" sets the ending part for each print; test many cases by yourself!
    print(L[i]==L1[i], end=' ')

0 False 1 True 2 False 3 False 4 False 5 False 6 False 7 False 8 False 	'Oh it's NEIN!'

The syntax of the while loop is similar to the if statement

In [24]:
a = 1
while a < 5:
  a = a * 2
  print (a)

2
4
8

In [25]:
L1 = np.ones((10))  # 10 by 1 sized numpy array, filled with 1
j = 0
while (1):  # identical to while(True)
    print(j, L1[j])
    j += 1
    if(j==5):
        print("j reached 5")
        break

0 1.0
1 1.0
2 1.0
3 1.0
4 1.0
j reached 5

# Functions

Functions are created with the def statement. A function may either have or not have a return statement to send back a return value.

In [26]:
def square(n):
  return n * n
a = square(3)
print (a)

9

In [27]:
def powers(n):
  return n**2, n**3
print (powers(3))

(9, 27)

If you pass a mutable value such as a list to a function, then the function may modify that value. For example, you might implement the Fibonacci sequence like this:

In [28]:
def fibonacci(seed, n):
  while len(seed) < n:
    seed.append(seed[-1] + seed[-2])
# Note: no return statement
seed = [1, 1]
fibonacci(seed, 10)
print (seed)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

# Error handling

It can be important for your code to be able to handle error conditions. For example, let's say that you are
implementing a sinc function:

In [29]:
import math
def sinc(x):
  return math.sin(x) / x
print (sinc(0))

ZeroDivisionError: ignored

In [8]:
def sinc(x):
    try:
        result = math.sin(x) / x
    except ZeroDivisionError:
        result = 1
    return result
print (sinc(0))

1

# Reading and writing files

The built-in open function opens a file and returns a file object that you can use to read or write data. Here's an example of writing data to a file:

In [0]:
myfile = open('myfile.txt', 'w') # open file for writing
myfile.write("red 1\n")
myfile.write("green 2\n")
myfile.write("blue 3\n")
myfile.close()